<h1>Movies</h1>
<hr />
<% @movies.each do |movie| %>
    <div> 
        <a href="/movies/<%= movie.id %>"> 
        <h2><%= movie.title %></h2>
        </a>
        <br />
    </div>
    <br />  
    <hr />
<% end %>
